
<body>
    <p class="Welcometag">Welcome to Digital Library</p>
    <!-- <img class="img" src="/assets/light_db.jpg"> -->
</body>
<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-6">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-12 col-lg-12 d-none d-md-block">
                <img src="/assets/light_db.jpg"
                  alt="Home page" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </section>
